@media (max-width: 600px) {
    * {
        flex-direction: column;
    }
}

*{
    margin: 0px;
    padding: 0px;
}



body{
    background-image: url('Images/bakgrund.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 

}

.flex-container {
    display: flex;
    justify-content: space-between;
    background-color:#f4f4f4;
}

.flex-item {
    background-color: #003366 ;
    margin: 10px;
    padding: 20px;
    flex: 1; 
    text-align: center;
    border-radius: 10px;
}

a{
    color: aliceblue;
}

.container, .container-skills{
    display: flex;
    flex-direction: column;
}

.main-content {
    display: flex;
    flex-grow: 1;

}

.column1 {
    flex: 1; 
    margin: 35px 0 0 0;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
}

.column2 {
    flex: 1; 
    background-color: #87CEEB;
    text-align: center;
    margin: 20px 100px 0px 100px;
    padding: 20px;
    border-radius: 20px;
    height:280px
}

.skills-column{
    flex: 1; 
    background-color: #003366;
    color: aliceblue;
    margin: 15px;
    padding: 15px;
    text-align: center;
    border-radius: 20px;

}

.profile-img{
    width: 150px;
    height: 220px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 5);
    margin: 50px 0 0 0;
    
}

.ln-img{
    width: 30px;
    height: 30px;
    align-items: center;
}

h1{
    color: #003366;
    font-family:'Kalnia', serif;
    padding-top: 40px;
    padding-left: 130px;
    position: absolute;
}

h4{
    color: #003366;
    font-family:Arial, Helvetica, sans-serif;
}

p{
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
}

pre{
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
    text-align: left;
}

.skills{
    background-color: #87CEEB;
    color: #003366 ;
    padding: 5px;
    text-align: center;
    border-radius: 30;
}

h2{
    color: #003366;
}

#educations{
    text-align: left;
    color: #003366;
    font-weight: bold;
}

.courses{
    font-weight: lighter;
    padding-left: 10px;
}

.download-cv{
    background-color: #003366;
    color: aliceblue;
    width: 130px;
    padding: 20px;
    position:relative;
    top: 10px;
    border-radius: 30px;
}


table, th, td {
    border: 1px solid aliceblue;
    border-collapse: collapse;
        
  }

  th, td {
      background-color: #003366;
      color: aliceblue;
      padding: 15px;

  }

  